PORT=4000
NODE_ENV=development
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ndangira"
CORS_ORIGIN="http://localhost:5173"
JWT_SECRET="ndangira-jwt-secret-change-in-production-min-32-characters-required"
OPENROUTER_API_KEY=""
DEEPSEEK_API_KEY=""
OPENROUTER_MODEL="deepseek/deepseek-chat"
OPENROUTER_SITE_URL="https://ndangira-frontend.vercel.app"
OPENROUTER_APP_NAME="Ndangira"
